{% set show_search_bar = show_search_bar|default(true) %}


<!DOCTYPE html>
<html>
<head>
    <title>NewsSphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='News_featured.png') }}" type="image/png">
</head>
<body>
    <header>
        <div class="header-container">
            <h1><a href="{{url_for('main.landing_page')}}">NewsSphere</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home
			<img src="{{ url_for('static', filename='icons8-home-50.png') }}" alt="Home">
		    </a></li>
                    <li><a href="/Saved_News">Saved News
			<img src="{{ url_for('static', filename='icons8-save-50.png') }}" alt="saved">
		    </a></li>
                    <li><a href="/about">About Us
			<img src="{{ url_for('static', filename='icons8-info-50.png') }}" alt="About Us">
		    </a></li>
                </ul>
            </nav>
            {% if show_search_bar %}
        <form id="search-form" class="search-form">
            <input type="text" name="query" id="search-input" placeholder="Search...">
            <button type="submit">
		<img src="{{ url_for('static', filename='icons8-search-30.png') }}" alt="Search">
	    </button>
        </form>
        {% endif %}
            <div class="auth-links">
                {% if current_user.is_authenticated %}
                <a href="/account" class="auth-link">Account
			<img src="{{ url_for('static', filename='icons8-customer-48.png') }}" alt="Account">
		</a>
                <a href="/logout" class="auth-link">logout<pr>
			<img src="{{ url_for('static', filename='icons8-logout-50.png') }}" alt="logout">
		</a>
                {% else %}
                <a href="/login" class="auth-link">login<pr>
			<img src="{{ url_for('static', filename='icons8-login-50.png') }}" alt="login">
		</a>
                <a href="/register" class="auth-link">register
			<img src="{{ url_for('static', filename='icons8-register-50.png') }}" alt="register">
		</a>
                {% endif %}
            </div>
        </div>
    </header>
    
