
{% include 'header.html' %}

<div class="category-container">
    <h2>Categories</h2>
    <ul>
        <li><a href="/Business" class="category">Business</a></li>
        <li><a href="/Health" class="category">Health</a></li>
        <li><a href="/Sports" class="category">Sports</a></li>
        <li><a href="/Technology" class="category">Technology</a></li>
    </ul>
</div>

<main>
    <div class="news-container" id="news-container">
        {% for news in general_response %}
            <div class="news-article">
                {% if news['urlToImage'] %}
		<a href={{ news['url'] }}><img src="{{ news['urlToImage'] }}" alt="News image"></a>
                {% else %}
			{% if category=='business'%}
				<a href={{ news['url'] }}><img src="{{ url_for('static', filename='entrepreneur-1340649_1280.jpg') }}" alt="Default news image"></a>
			{% elif category=='health'%}
				<a href={{ news['url'] }}><img src="{{ url_for('static', filename='blood-pressure-1584223_1280.jpg') }}" alt="Default news image"></a>
			{% elif category=='sports'%}
				<a href={{ news['url'] }}><img src="{{ url_for('static', filename='stadium-1590576_1280.jpg') }}" alt="Default news image"></a>
			{% elif category=='technology'%}
				<a href={{ news['url'] }}><img src="{{ url_for('static', filename='industry-3087393_1280.jpg') }}" alt="Default news image"></a>
			{% else %}
				<a href={{ news['url'] }}><img src="{{ url_for('static', filename='News_featured.png') }}" alt="Default news image"></a>
			{% endif %}
                {% endif %}
                <h3><a href={{ news['url'] }}>{{ news['title'] }}</a></h3>
                {% if news['description'] %}
                    <p>{{ news['description'] }}</p>
                
                {% endif %}
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ news['url'] }}" class="share-button" target="_blank">
                    <img src="{{ url_for('static', filename='icons8-facebook-logo-50.png') }}" alt="Share on Facebook" class="facebook-logo">
                </a>
           
                <button class="heart-button"
                data-title="{{ news['title'] }}"
                data-description="{{ news['description'] }}"
                data-url="{{ news['url'] }}"
                data-urlToImage = "{{ news['urlToImage'] }}"
                
                ></button>

                
            </div>
        {% endfor %}
    </div>
    <!-- Pagination Controls -->
    <div class="pagination">
        {% if current_page > 1 %}
            <a href="{{ url_for(request.endpoint, query=query, page=current_page-1, pageSize=page_size) }}">&laquo; Previous</a>
        {% endif %}
        <span>Page {{ current_page }}</span>
        {% if total_results > current_page * page_size %}
            <a href="{{ url_for(request.endpoint, query=query, page=current_page+1, pageSize=page_size) }}">Next &raquo;</a>
        {% endif %}
    </div>
</main>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='script.js') }}"></script>
