{% set show_search_bar = show_search_bar|default(true) %}


<!DOCTYPE html>
<html>
<head>
    <title>NewsSphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <header>
        <div class="header-container">
            <h1>NewsSphere</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sources">Sources</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </nav>
            {% if show_search_bar %}
        <form id="search-form" class="search-form">
            <input type="text" name="query" id="search-input" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        {% endif %}
            <div class="auth-links">
                <a href="/login" class="auth-link">login</a>
                <a href="/register" class="auth-link">register</a>
            </div>
        </div>
    </header>
    
