<!DOCTYPE html>
<html>
<head>
    <title>NewsSphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>NewsSphere</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sources">Sources</a></li>
                    <li><a href="/about_me">About Me</a></li>
                    <!-- Add other navigation links as needed -->
                </ul>
            </nav>
            <form class="search-form" action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
    </header>
