<!DOCTYPE html>
<html>
<head>
    <title>NewsSphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>NewsSphere</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sources">Sources</a></li>
                    <li><a href="/about">About Me</a></li>
                </ul>
            </nav>
            <form class="search-form" action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
    </header>
    <div class="category-container">
        <h2>Categories</h2>
        <ul>
            <li><a href="/" class="category">General</a></li>
            <li><a href="/Business" class="category">Business</a></li>
            <li><a href="/Health" class="category">Health</a></li>
            <li><a href="/Sports" class="category">Sports</a></li>
            <li><a href="/Technology" class="category">Technology</a></li>
        </ul>
    </div>
    <main>
        <div class="news-container" id="news-container">
            {% for news in general_response['articles'] %}
                <div class="news-article">
                    {% if news['urlToImage'] %}
                        <img src="{{ news['urlToImage'] }}" alt="News image">
                    {% else %}
                        <img src="{{ url_for('static', filename='News_featured.png') }}" alt="Default news image">
                    {% endif %}
                    <h3>{{ news['title'] }}</h3>
                    {% if news['description'] %}
                        <p>{{ news['description'] }}</p>
                    
                    {% endif %}
                    <a href="{{ news['url'] }}" target="_blank">Read more...</a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ news['url'] }}" class="share-button" target="_blank">
                        <img src="{{ url_for('static', filename='facebook-logo.png') }}" alt="Share on Facebook" class="facebook-logo">
                    </a>
                    <p>-------------------------------------</p>
                </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 NewsSphere</p>
    </footer>
</body>
</html>
